npm-debug.log
lerna-debug.log
node_modules
build
coverage
scripts/Dockerfile*
.idea
.python-version
flow-coverage


.tern-port
.next

.DS_Store
**/.DS_Store

.env
dist
yarn-error.log
package-lock.json
.history
.npmrc